.button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: var(--rad-medium);
    transition: background-color .3s;
    padding: 1rem;
    user-select: none;
    outline:  0.1rem solid var(--color-accent);

    &.small {
        font-size: var(--fz-small);
        height: var(--field-small);
    }

    &.smaller {
        font-size: var(--fz-smaller);
        height: var(--field-smaller);
    }

    &.default {
        font-size: var(--fz-regular);
        height: var(--field);
    }

    &.larger {
        font-size: var(--fz-larger);
        height: var(--field-larger);
    }

    &.large {
        font-size: var(--fz-large);
        height: var(--field-large);
    }

    &.primary {
        background-color: var(--color-accent);
        color: white;
    }

    &.outline {
        background-color: transparent;
        color: var(--color-accent);
        border: 1px solid var(--color-accent);
    }

    &.ghost {
        background-color: transparent;
        color: var(--color-secondary);
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.withIcon {
        gap: 0.5rem;
    }

    &:hover {
        background-color: rgba(24, 170, 255, 0.5);
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px); 
    }
    &:active {
        outline: 0.1srem solid var(--color-accent);
        transform: scale(0.95);
    }  
     
   
}
