.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.label {
  font-size: var(--fz-md);
  color: var(--color-dark-blue);
  margin-bottom: 0.5rem;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 0;
  outline: 0;
  border-radius: var(--rad-medium);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus-within {
    outline: 0.115rem solid var(--color-accent);

    .icon {
      color: var(--color-accent);
    }
  }
}

.input {
  width: 100%;
  padding: var(--spacing-md);
  padding-left: 3rem;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-light);
  border-radius: var(--rad-medium);
  font-size: var(--fz-md);
  appearance: none;

  &::placeholder {
    color: rgb(97, 108, 134);
  }
}

.icon {
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  pointer-events: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.error {
  border-color: rgb(142, 35, 35);

  .icon {
    color: rgb(142, 35, 35);
  }
}

.errorText {
  color: rgb(142, 35, 35);
  font-size: var(--fz-md);
}
