// Импортируем переменные
@import './variables.scss';

// Общие стили
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-accent: #{$accent};
    --color-dark-accent: #{darken($accent, 25%)};
    --color-light: #{$light};
    --color-dark-blue: #{$dark-blue};
    --color-dark: #{$dark};
    --rad-sm: #{$rad-small};
    --rad-medium: #{$rad-medium};
    --rad-large: #{$rad-large};
    --rad-circle: #{$rad-circle};
    --spacing-small: #{$spacing-small};
    --spacing-medium: #{$spacing-medium};
    --spacing-large: #{$spacing-large};
    --spacing-xs: #{$spacing-xs};
    --spacing-sm: #{$spacing-sm};
    --spacing-md: #{$spacing-md};
    --spacing-lg: #{$spacing-lg};
    --spacing-xl: #{$spacing-xl};
    --spacing-xxl: #{$spacing-xxl};
    --fz-xs: #{$fz-xs};
    --fz-sm: #{$fz-sm};
    --fz-md: #{$fz-md};
    --fz-lg: #{$fz-lg};
    --fz-xl: #{$fz-xl};
    --fz-xxl: #{$fz-xxl};
    --box-shadow-light: #{$box-shadow-light};
    --box-shadow-dark: #{$box-shadow-dark};
    --transition-default: #{$transition-default};
}

html {
    transition: var(--transition-default);
    scroll-behavior: smooth;
}

body {
    color: var(--color-light);
}

a {
    color: lighten($accent, 50%); 
    transition: 0.3s ease-in-out;

    &:hover {
        color: lighten($accent, 70%);
        text-decoration: underline;
        transition: 0.3s ease-in-out;
    }
}

input,
textarea,
select {
    transition: var(--transition-default);
    background-color: lighten($dark, 50%); 
    color: var(--color-light);
    border: 1px solid lighten($accent, 10%);
    padding: var(--spacing-sm);
    border-radius: var(--rad-large);
    font-size: 1rem;
}


h1 {
    font-size: var(--fz-xxl);
}

h2 {
    font-size: var(--fz-xl);
}

h3 {
    font-size: var(--fz-lg);
}

// Utility классы для отступов
.mt-small {
    margin-top: var(--spacing-sm);
}

.mt-medium {
    margin-top: var(--spacing-md);
}

.mt-large {
    margin-top: var(--spacing-lg);
}

.mb-small {
    margin-bottom: var(--spacing-sm);
}

.mb-medium {
    margin-bottom: var(--spacing-md);
}

.mb-large {
    margin-bottom: var(--spacing-lg);
}
