// Variables for dark and light themes

// Primary Colors
$dark: #080B10;
$dark-blue: #081C3C;
$accent: #18aaff;
$light: #C1E8FF;






// Border radius
$border-radius: 8px;

// Box shadows for themes
$box-shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0px 4px 6px rgba(255, 255, 255, 0.1);

// Spacing (padding/margins)
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Transition (for smooth theme switching)
$transition-default: all 0.3s ease-in-out;

$rad-small: 4px;
$rad-medium: 8px;
$rad-large: 16px;
$rad-circle: 50%;


$fz-xs: 0.75em; // 12px / 16px
$fz-sm: 0.875em; // 14px / 16px
$fz-md: 1em; // 16px / 16px
$fz-lg: 1.25em; // 20px / 16px
$fz-xl: 1.5em; // 24px / 16px
$fz-xxl: 2em; // 32px / 16px


$spacing-xs: 0.25em; // 4px
$spacing-sm: 0.5em; // 8px
$spacing-md: 1em; // 16px
$spacing-lg: 1.5em; // 24px
$spacing-xl: 2em; // 32px
$spacing-xxl: 3em;

