// Primary Colors
$dark: #020c1c;
$dark-blue: 8,28,60;
$accent: #18aaff;
$light: #C1E8FF;

// Border radius
$border-radius: 8px;
$rad-small: 4px;
$rad-medium: 8px;
$rad-large: 16px;
$rad-circle: 50%;

// Box shadows
$box-shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0px 4px 6px rgba(255, 255, 255, 0.1);

// Spacing (padding/margins)
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

// Font sizes
$fz-xs: 0.6em;
$fz-sm: 0.7em;
$fz-md: 1em;
$fz-lg: 1.5em;
$fz-xl: 2em;
$fz-xxl: 3em;

// Transition
$transition-default: all 0.3s ease-in-out;
