.intro {
  padding: 5rem 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  .introContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    z-index: 1;
    color: var(--color-light);

    .introHeadingLine {
      height: 0.2rem;
      background-color: var(--color-light);
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    .introHeading {
      font-weight: 700;
      font-size: 5.2em;
      color: var(--color-light);
      line-height: 1.1em;

      & span {
        color: var(--color-accent);
      }
    }

    .introText {
      font-weight: 300;
      max-width: 60%;
      font-size: 1.2rem;
      opacity: 0;
      transform: translateY(30px);
      color: var(--color-light);
      text-rendering: optimizeLegibility;
      line-height: 1.6;

      & span {
        color: var(--color-accent);
        opacity: 1;
      }
    }

    .introBtnGroup {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .introImage {
    width: clamp(15rem, 30vw, 35rem);
    aspect-ratio: 9 / 10;
    position: relative;
    padding: clamp(0.5rem, 1vw, 1rem);
    border: 0.2rem outset var(--color-accent);
    border-radius: clamp(1.5rem, 4vw, 3rem);
    overflow: hidden;
    margin-bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      border-radius: inherit;
      // filter: brightness(100%) contrast(120%);
    }
  }

  @media (max-width: 1200px) {
    
    padding: 3rem 0;
    .introContent {
      .introHeading {
        font-size: 3.5rem;
        max-width: 70%;
      }

      .introText {
        font-size: 1.1rem;
        max-width: 80%;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 2.5rem 0;
    flex-direction: column-reverse;

    .introContent {
      align-items: center;
      text-align: center;

      .introHeading {
        font-size: 3rem;
        max-width: 80%;
      }

      .introText {
        font-size: 1.2rem;
        max-width: 90%;
      }
    }

    .introImage {
      width: 100%;
      height: 20rem;
      max-width: 35rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 576px) {
    .introContent {
      gap: 2rem;

      .introHeading {
        font-size: 2.5rem;
        max-width: 90%;
      }

      .introText {
        font-size: 1.1rem;
        max-width: 100%;
      }
    }

    .introImage {
      max-height: 23rem;
      max-width: 80%;
      border-radius: 3rem;
      padding: 0.7rem;

      img {
        border-radius: 2rem;
      }
    }
  }

  @media (max-width: 400px) {
    .introContent {
      gap: 1.5rem;

      .introHeading {
        font-size: 2rem;
        max-width: 90%;
      }

      .introText {
        font-size: 1rem;
        max-width: 100%;
      }
    }

    .introImage {
      max-height: 15rem;
      max-width: 70%;
      border-radius: 2.5rem;
      padding: 0.5rem;

      img {
        border-radius: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) and (max-height: 600px) {
  .intro {
    flex-direction: row;
    height: auto;
    padding: 1rem 0;

    .introContent {
      align-items: flex-start;
      text-align: left;

      .introHeading {
        font-size: 2.5rem;
        max-width: 60%;
      }

      .introText {
        font-size: 1rem;
        max-width: 70%;
      }
    }

    .introImage {
      width: clamp(15rem, 30vw, 35rem);
      aspect-ratio: 7 / 10;
      // height: calc(100vh - 2rem);
    }
  }
}
