@import "../../../styles/mixins.scss";

.infoModalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0rem);
  transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 100;
  pointer-events: none;
}

.infoModalOverlayActive {
  pointer-events: auto;
  backdrop-filter: blur(3rem);
}

.infoModal {
  position: fixed;
  top: 200%;
  left: 200%;
  transform: translate(-50%, -50%) scale(0.95);
  opacity: 0;
  width: 100%;
  max-width: 600px;
  max-height: 90vh; 
  padding: var(--spacing-lg);
  border-radius: var(--rad-large);
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 101;
  @include cardStyle();

  .infoModalClose {
    position: absolute;
    right: 1rem;
    top: 1rem;

    &:hover {
      color: var(--color-accent);
    }
  }
  &.infoModalOpened {
    top: 50%;
    left: 50%;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  @media (max-width: 768px) {
    max-height: 95vh;
    padding: var(--spacing-md);
  }

  @media (max-height: 700px) {
    overflow-y: auto; // прокрутка если не помещается
    top: 5%;
    transform: translate(-50%, 0);
    max-height: 90vh;
  }

  &Inner {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  &Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    text-align: center;
  }

  &Avatar {
    border-radius: var(--rad-circle);
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: brightness(90%) contrast(90%);

    @media (max-width: 480px) {
      width: 120px;
      height: 120px;
    }
  }

  &Heading {
    font-size: var(--fz-xl);

    @media (max-width: 480px) {
      font-size: var(--fz-lg);
    }
  }

  &Description {
    font-size: var(--fz-sm);
    color: var(--color-light-darken);
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }

  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-darkend);
    padding: var(--spacing-sm);
    border-radius: var(--rad-medium);
    flex-wrap: wrap;

    svg {
      margin-right: var(--spacing-sm);
    }
  }

  &ItemName {
    font-size: var(--fz-md);
    color: var(--color-accent);

    @media (max-width: 480px) {
      font-size: var(--fz-sm);
    }
  }

  &ItemFiller {
    flex-grow: 1;
    position: relative;
    height: 1px;
    margin: 0 8px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-bottom: 1px dashed var(--color-accent);
      transform: translateY(-50%);
    }
  }

  &ItemValue {
    font-size: var(--fz-sm);
    color: var(--color-light);

    @media (max-width: 480px) {
      font-size: var(--fz-xs);
    }
  }
}
