@import "../../../app/styles/mixins.scss";

@mixin responsiveCard($minHeight, $maxHeight) {
  height: clamp($minHeight, 30vh, $maxHeight);
}

.projects {
  @include sectionStyle();

  &Header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-sm);

    &Heading {
      display: flex;
      align-items: center;
      gap: var(--spacing-sm);

      svg {
        color: var(--color-accent);
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    &Description {
      font-size: var(--fz-md);
      color: var(--color-accent);
    }
  }
}
.projectsCardGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-lg);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  opacity: 1;
  position: relative;
  background: rgba(var(--color-dark-blue), 0.4);
  border-radius: var(--rad-medium);
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  @include responsiveCard(20rem, 35rem);

  &:hover {
    background: rgba(var(--color-dark-blue), 0.1);
    border: 2px solid var(--color-accent);
    transform: translateZ(10px);
  }
}

.cardHidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}


.cardBody {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: var(--color-light);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-md);
  border-radius: var(--rad-medium);
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  svg {
    width: 2rem;
    height: 2rem;
    color: var(--color-accent);
  }

  h3 {
    width: max-content;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: calc(-1 * var(--spacing-xs));
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--color-accent);
    }
  }
}

.cardRole {
  margin: 1rem 0;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    font-size: var(--fz-lg);
    color: var(--color-accent);
    transition: transform 0.3s ease;
  }

  &::before {
    content: "[ ";
    transform: translateX(-0.3rem);
  }

  &::after {
    content: " ]";
    transform: translateX(0.3rem);
  }
}

.projectsShowMore {
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  padding-top: var(--spacing-lg);
  padding: var(--spacing-sm);
}

.projectsShowMoreCount {
  font-size: var(--fz-md);
  color: var(--text-muted);
}

.projectsBarPercentage {
  flex: 1;
  height: 3px;
  border-radius: 3px;
  background: gray;
  position: relative;
  overflow: hidden;
}

.projectsBarFill {
  height: 100%;
  background: var(--color-accent);
  transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
 

  .projectsBarPercentage {
    width: 80%;
    height: 5px;
  }

  .projectsBarFill {
    border-radius: 4px;
  }
}
