.background {
    position: absolute;   // Позиционируем относительно контейнера
    top: 0;               // Начало от верхней границы
    left: 0;              // Начало от левой границы
    width: 100%;          // Растягиваем на всю ширину
    height: 100%;         // Растягиваем на всю высоту контейнера
    z-index: -1;          // Чтобы фон был всегда под контентом
}
