.intro {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  .introContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    z-index: 1;
    color: var(--color-light);

    .introHeadingLine {
      height: 0.2rem;
      background-color: var(--color-light);
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    .introHeading {
      font-weight: 600;
      font-size: 5.2em;
      color: var(--color-light);
      line-height: 1.1em;

      & span {
        color: var(--color-accent);
      }
    }

    .introText {
      font-weight: 300;
      max-width: 60%;
      font-size: 1.2rem;
      opacity: 0;
      transform: translateY(30px);
      color: var(--color-light);
      text-rendering: optimizeLegibility;
      line-height: 1.6;

      & span {
        color: var(--color-accent);
        opacity: 1;
      }
    }

    .introBtnGroup {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .introImage {
    width: 40rem;
    height: 29rem;
    position: relative;
    padding: 1rem;
    border: 0.3rem solid var(--color-accent);
    border-radius: 5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left top;
      border-radius: 5rem;
      filter: brightness(100%) contrast(120%);
    }
  }
  .introScrollButton {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
  
    & button {
      border-radius: 50%;
      animation: introScrollButtonAnimation 3.5s infinite ease-in-out;
      transition: transform 0.3s ease-in-out;  // Добавляем только для transform, чтобы избежать конфликтов
    }
  
    @keyframes introScrollButtonAnimation {
      0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(0);
      }
      70% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }
  
    & button:active {
      transform: scale(1.3);
    }
  }
  

  /* Стиль для экранов до 1200px */
  @media (max-width: 1200px) {
    .introContent {
      .introHeading {
        font-size: 3.5rem;
        max-width: 70%;
      }
      .introText {
        font-size: 1.1rem;
        max-width: 80%;
      }
    }
  }

  /* Стиль для экранов до 768px (средние устройства, планшеты) */
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    .introContent {
      align-items: center;
      text-align: center;
      .introHeading {
        font-size: 3rem;
        max-width: 80%;
      }
      .introText {
        font-size: 1.2rem;
        max-width: 90%;
      }
    }

    .introImage {
      width: 100%;
      height: auto;
      max-width: 35rem;
      margin-bottom: 2rem;
    }
  }

  /* Стиль для экранов до 576px (мобильные устройства) */
  @media (max-width: 576px) {
    .introContent {
      gap: 2rem;

      .introHeading {
        font-size: 2.5rem;
        max-width: 90%;
      }

      .introText {
        font-size: 1.1rem;
        max-width: 100%;
      }
    }

    .introImage {
      max-height: 23rem;
      max-width: 80%;
      border-radius: 3rem;
      padding: 0.7rem;

      img {
        border-radius: 2rem;
      }
    }
  }

  /* Стиль для экранов до 400px (очень маленькие экраны) */
  @media (max-width: 400px) {
    .introContent {
      gap: 1.5rem;

      .introHeading {
        font-size: 2rem;
        max-width: 90%;
      }

      .introText {
        font-size: 1rem;
        max-width: 100%;
      }
    }

    .introImage {
      max-height: 15rem;
      max-width: 70%;
      border-radius: 2.5rem;
      padding: 0.5rem;

      img {
        border-radius: 1.5rem;
      }
    }
  }

  /* TODO: Стиль для ландшафтной ориентации, начиная с ширины 576px и выше */
}
