.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../public/assets/Intro/grid-pattern.svg") repeat,
    /* Паттерн */
      radial-gradient(
        circle at center,
        #041a3e 0%,
        #04193b 20%,
        #0a101c 50%,
        #080b10 80%,
        #060b12 100% /* Градиент */
      );

  .introContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    z-index: 1;
    color: var(--color-light);

    .introHeadingLine {
      height: 0.2rem;
      background-color: var(--color-light);
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }
    .introHeading {
      font-weight: 400;
      font-size: 5.2em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: var(--color-light);
      line-height: 1.1em;

      & span {
        display: inline-block;
        color: var(--color-accent);
      }
    }

    .introText {
      font-weight: 300;
      max-width: 60%;
      font-size: 1.2rem;
      text-align: justify;
      opacity: 0;
      transform: translateY(30px);
      color: var(--color-light);
      text-rendering: optimizeLegibility;
      line-height: 1.6;

      & span {
        color: var(--color-accent);
        opacity: 1;
      }
    }
  }

  .introImage {
    width: 50rem;
    height: 30rem;
    z-index: 2;
    padding: 0rem;
    position: relative;
    border: 1px solid var(--color-accent);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;

    /* Add new circle divs */
    .circleBefore,
    .circleAfter {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 2px solid var(--color-accent);
      opacity: 0.7;
      z-index: -1;
    }

    .circleBefore {

      width: 34rem;
      height: 40rem;
    }

    .circleAfter {

      width: 37rem;
      height: 43rem;
    }

     img {
      width: 100%;
      height: 100%;
      object-fit: cover;
       object-position: left;

      z-index: 1;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
      filter: brightness(110%) contrast(120%);

    }
  }

  /* Медиазапросы */
  @media (max-width: 1200px) {
    .introContent {
      .introHeading {
        font-size: 3.5rem;
        max-width: 70%;
      }
      .introText {
        font-size: 1.1rem;
        max-width: 80%;
      }
    }
  }

  @media (max-width: 768px) {
    .introContent {
      .introHeading {
        font-size: 3rem;
        max-width: 80%;
      }
      .introText {
        font-size: 1.2rem;
        max-width: 90%;
      }
    }
  }

  @media (max-width: 576px) {
    .introContent {
      gap: 1rem;

      .introHeading {
        font-size: 2.5rem;
        max-width: 90%;
      }

      .introText {
        font-size: 1.1rem;
        max-width: 100%;
      }
    }
  }
}
