.header {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  .headerInner {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerLogo {
    h2 {
      display: inline-flex;
      gap: 0.5rem;
      font-size: var(--fz-xxl);
      font-weight: bold;
      color: var(--color-light);

      span {
        color: var(--color-accent);
      }

      svg {
        color: var(--color-accent);
      }
    }
  }

  .headerNav {
    list-style: none;
    display: flex;

    gap: var(--spacing-lg);

    .navItem {
      font-size: var(--fz-lg);
      color: var(--color-light);
      cursor: pointer;
      user-select: none;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-accent);
        box-shadow: var(--box-shadow-light);
        transform: scale(0.97);
      }

      &:active {
        text-shadow: 0 0 1rem var(--color-accent);
      }

      &::before {
        content: "[ ";

        color: var(--color-accent);
        display: inline-block;
        transition: transform 0.3s ease;
        transform: translateX(-0.3rem);
      }

      &::after {
        content: " ]";

        color: var(--color-accent);
        display: inline-block;
        transition: transform 0.3s ease;
        transform: translateX(0.3rem);
      }

      &:hover::before {
        transform: translateX(-0.5rem);
      }

      &:hover::after {
        transform: translateX(0.5rem);
      }
    }
  }

  .headerActions {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);

    & button:nth-child(2) {
      display: none;
    }
  }

  @media  (max-width: 1200px)  {
    .headerLogo {
      h2 {
        gap: var(--spacing-sm);
        font-size: var(--fz-lg);
      }
    }

    .headerNav {
      gap: var(--spacing-md);

      .navItem {
        font-size: var(--fz-md);
      }
    }
  }
  
  @media (max-width: 920px){
    

    .headerNav {
      gap: var(--spacing-sm);

      .navItem {
        font-size: var(--fz-sm);
      }
    }
  }

  @media (max-width: 768px) {
    .headerNav {
      display: none;
    }

    .headerActions {
      gap: var(--spacing-sm);
      & button:nth-child(2) {
        display: block;
      }
    }
  }
}
