.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  
  
    @media (max-width: 767px) {
      max-width: 100%;
      padding: 0 16px;
    }
  
    @media (min-width: 1024px) and (max-width: 1365px) {
      max-width: 1152px;
    }
  
    // 2K
    @media (min-width: 1366px) and (max-width: 1919px) {
      max-width: 1240px;
    }
  
    // 2K+ 
    @media (min-width: 1920px) {
      max-width: 1440px;
    }
  }
  